<!DOCTYPE html>
<html>
<head>
    {{!-- <link rel="stylesheet" href="/public/CSS/loginstyle.css">
    <link rel="stylesheet" href="/public/CSS/dashboard.css"> --}}
</head>
<body>
    {{{body}}}
</body>
</html>