<head>
  <link rel="stylesheet" href="/public/CSS/dashboard.css">
</head>
<header>
  <img src="../public/Imagens/4KBank.png" alt="4K Bank" id="bank">
  <h1>4K Bank</h1>
  <nav>
    <ul>
      <li><a href="http://localhost:3001/dashboard">Dashboard</a></li>
      <li><a href="http://localhost:3001/transferencia">Transferência</a></li>
      <li><a href="http://localhost:3001/deposito">Depósito</a></li>
      <li><a href="http://localhost:3001/saque">Saque</a></li>
      <li><a href="http://localhost:3001/">Sair</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="saldo">
    <h2>Saldo</h2>
    <p>R$ {{saldo}}</p>
  </section>

  <section class="botoes">
    <h2>Funções</h2>
    <div class="opcoes">
      <a href="http://localhost:3001/transferencia"><button>Transferência</button></a>
      <a href="http://localhost:3001/saque"><button>Saque</button></a>
      <a href="http://localhost:3001/comprovantes"><button>Comprovantes</button></a>
      <a href="http://localhost:3001/deposito"><button>Depósito</button></a>
    </div>
  </section>
</main>
<div id="espaco"></div>
<footer>
  <span>&copy; 2023</span>
  <span>4K Bank</span>
  <span>Rafael Santana</span>
</footer>