<head>
    <title>Extrato</title>
    <link rel="stylesheet" href="../public/CSS/extrato.css">
</head>
<header>
  <img src="../public/Imagens/4KBank.png" alt="4K Bank" id="bank">
  <h1>4K Bank</h1>
  <nav>
    <ul>
      <li><a href="http://localhost:3001/dashboard">Dashboard</a></li>
      <li><a href="http://localhost:3001/transferencia">Transferência</a></li>
      <li><a href="http://localhost:3001/deposito">Depósito</a></li>
      <li><a href="http://localhost:3001/saque">Saque</a></li>
      <li><a href="http://localhost:3001/extrato">Extrato</a></li>
      <li><a href="http://localhost:3001/">Sair</a></li>
    </ul>
  </nav>
</header>
<main>
    <h1 id="ex">Extrato</h1>

    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Tipo</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr>
                <td>{{data}}</td>
                <td>{{tipo}}</td>
                <td>R$ {{valor}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>
<footer>
  <span>&copy; 2023</span>
  <span>4K Bank</span>
</footer>