<head>
  <link rel="stylesheet" href="/public/CSS/tranferencia.css">
</head>

<body>
  <header>
    <img src="../public/Imagens/4KBank.png" alt="4K Bank" id="bank">
    <h1>4K Bank</h1>
    <nav>
      <ul>
        <li><a href="http://localhost:3001/dashboard">Dashboard</a></li>
        <li><a href="http://localhost:3001/transferencia">Transferência</a></li>
        <li><a href="http://localhost:3001/deposito">Depósito</a></li>
        <li><a href="http://localhost:3001/saque">Saque</a></li>
        <li><a href="http://localhost:3001/">Sair</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <a href="http://localhost:3001/dashboard"><button id="voltar">Voltar</button></a>
    <h2>Transação Bancária</h2>
    <form action="http://localhost:3001/logTransferencia" method="post">
      <label for="conta-destino">CPF de Destino:</label>
      <input type="text" id="conta-destino" name="cpfDest" required>

      <label for="valor">Valor:</label>
      <input type="number" id="valor" name="valor" required>

      <button type="submit">Enviar</button>
    </form>
  </main>
  <footer>
    <span>&copy; 2023</span>
    <span>4K Bank</span>
    <span>Rafael Santana</span>
  </footer>
</body>

</html>