/* Arquivo CSS externo */
*{
  padding: 0;
  margin: 0;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(167deg, rgba(2, 0, 36, 1) 0%, rgba(0, 255, 67, 1) 100%, rgba(0, 212, 255, 1) 100%);
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

header {
  background-color: #00fff23f;
  color: #fff;
  padding: 30px;
}

h1 {
  font-size: 36px;
  margin: 36px;
  
}

nav {
  float: right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  margin: 20px;
}

section {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #27ae60;
}

form {
  display: inline-block;
  margin-right: 20px;
}

/* Tema verde com degradê escuro */

.saldo {
  background-color: #2ecc71;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #2ecc71 0%, #1a9957 100%);
}

.transferencia {
  background: linear-gradient(to bottom, #2ecc71 0%, #1a9957 100%);
  color: #fff;
  text-align: center;
}

.saque {
  background: linear-gradient(to bottom, #2ecc71 0%, #1a9957 100%);
  color: #fff;
  text-align: center;
}

.deposito {
  background: linear-gradient(to bottom, #2ecc71 0%, #1a9957 100%);
  color: #fff;
  text-align: center;
}

button[type="submit"] {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to bottom, #2ecc71 0%, #1a9957 100%);
}

button[type="submit"]:hover {
  background: linear-gradient(to bottom, #27ae60 0%, #157347 100%);
}

#bank{
  border-radius: 17rem;
  height: 100px;
  float: left;
  margin-right: 10px;
}

#espaco{
  padding: 190px;
}

footer{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

